<!DOCTYPE html>
<html lang="en">

{{> head }}

<body id="page-top">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v3.2"></script>

{{> nav }}

{{> postContent }}


<div class="container">
  <div class="text-right mt-3">
  <h1><a href="/newpost" class="btn btn-wilfred"> Create New Post </a></h1>
</div>





    <h1>POSTS</h1>
    <!--Post loop-->
    {{#each posts}}
    <div class="jumbotron">
        <h1 class="display-4">{{title}}</h1>
        <p class="lead">
            {{description}}
        </p>
        <hr class="my-4">
        <div class="card" style="width: 18rem;">
        <img src="{{image}}" alt="{{image}}" class="img-thumbnail img-fluid">
        </div>
        <p>
            {{{content}}} <!-- The curly braces to import HTML code -->
  
        </p>
        <p class="lead">
          <a class="btn btn-wilfred" href="/post/view/{{ _id }}" role="button">more...</a>
        </p>
      
        <div class="alert alert-light" role="alert">
            Created by  <a href="/users/{{user_id.username}}" class="alert-link">
            {{user_id.username}}
              </a>.  <!-- Utilizando ../ porque dentro del loop esa variable no va -->
           
          
           {{ createdAt }}  . Share it if you like.
        <div class="fb-share-button" data-href="https://postsmart.herokuapp.com/post/view/{{ _id }}" data-layout="button" data-size="small"><a target="_blank" 
        href="https://postsmart.herokuapp.com/post/view/{{ _id }}" class="fb-xfbml-parse-ignore">
        Share</a></div>
          </div>

      </div><!-- JUMBOTRON  end of loop-->
    {{/each}}



</div><!-- Container -->

  {{> footer }}


{{>scripts}}

</body>

</html>
