<!DOCTYPE html>
<html lang="en">

{{> head }}
<title>{{post.title}} | PostSmart</title>
<body id="page-top">

{{> nav }}

{{> postContent }}

<div class="container">
    <a href="/"><button class="btn btn-primary text-left mb-4">See all Posts</button></a>
</div>
<div class="container">
    <!--Post loop-->
    <div class="jumbotron">
        <h1 class="display-4">{{post.title}}</h1>
        <p class="lead">
                {{post.description}}
        </p>
        <hr class="my-4">
        
        <div class="card" style="width: 18rem;">
        <img src="{{post.image}}" alt="{{post.image}}" class="img-thumbnail img-fluid">
        </div>
        <p>
           {{{post.content}}}
  
        </p>

        <div class="alert alert-light" role="alert">
            Created by  <a href="/users/{{ user.username }}" class="alert-link">{{user.username}}</a>.  {{post.createdAt}}. 
            . Share it if you like.
        <div class="fb-share-button" data-href="https://postsmart.herokuapp.com/post/view/{{ _id }}" data-layout="button" data-size="small"><a target="_blank" 
        href="https://postsmart.herokuapp.com/post/view/{{ post._id }}" class="fb-xfbml-parse-ignore">
        Share</a></div>
         
          </div>

      </div><!-- JUMBOTRON  end of loop-->
</div><!-- Container -->

  {{> footer }}


{{>scripts}}

</body>

</html>
